.playbut{
  padding: 8px;
  margin: 0;
  background-color: #1890ff;
  transition: .3s all ease-in-out;
  display: flex;
  align-items: center;
  border: 0;
  outline: none;
  border-radius: 50%;
  cursor: pointer;
}